.new-box-home {
    width:100%;
    height:100vh;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
}


.new-body-content{
    height:100%;
    width:100%;
    display: flex;
    background-color: white;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    /* background-color: green; */
}

.body-content-1 {
    width:100%;
    /* height:700px; */
    min-height:100vh;
    /* height:auto; */
    /* min-height:100vh; */
    min-width:300px;
    /* max-width: 1550px !important; */
    /* background-color: red; */
    /* display: block; */
    /* justify-content: center; */
    /* align-items: center; */
    z-index:2 !important;
    /* background-color: yellow; */
}
.body-content-2 {
    width:100%;
    height:100%;
    /* min-height:500px; */
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: pink; */
}

.detail-product-car {
    width:100%;
    height:600px;
    background-color: white;
}

.slider-single-content {
height:550px;
}
.list-product-car {
    width:100%;
    height:200px;
    min-height:200px;
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    background-color: #2f3640;
    border-radius:10px;
    overflow:auto;
    overflow-y:scroll;
}
.list-product-car::-webkit-scrollbar {
    display: inherit;
    height:10px;
    width: 5px;
}
.list-product-car::-webkit-scrollbar-thumb {
    background-color: #4bace5;
    /* border-radius: 5px; */
}
.active-list-product {
    background-color: #4bace5;
    border-radius:none
}
.active-list-product:hover {
    border-radius:none;
}

.box-car {
    width:12.5%;
    min-width:12.5%;
    height:100%;
    /* min-height:200px; */
    /* background-color: red; */
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:0.5s;
    /* border-radius:10px; */
}
.box-car p {
    font-weight:600;
    margin-bottom:0px;
    margin-top:5px;
    font-size:16px;
    color:white;
}
.box-car:hover {
    cursor: pointer;
    background-color: #4BACE5;
    /* border-radius:0; */
}
.img-option-car {
    width:100%;
    height:100%;
}
.detail-box-img-car {
    width:100%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}
.detail-box-price-car {
    width:100%;
    height:20%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6a6a6b;
}
.detail-box-img-car img {
    width:100%;
    height:100%;
}

.price-box{
    width:50%;
    height:100%;
    /* border:1px solid black; */
    border-radius:10px;
    padding:10px;
}
.price-box p:nth-child(1){
    margin:0px;
    font-weight:700;
    font-size:17px;

    text-align: end;
}
.price-box p:nth-child(2){
    margin:0px;
    font-weight:700;
    font-size:30px;
    text-align: end;
    color:#4BACE5;

}
.btn-buy-product{
    width:250px;
    height:50px;
    /* border:1px solid black; */
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA2027;
    color:white;
    font-weight:700;
    transition: 0.5s;
    text-decoration: none;
}
.btn-buy-product:hover{
    cursor: pointer;
    background-color: #4BACE5;
}
.btn-check-product{
    width:250px;
    height:50px;
    /* border:1px solid black; */
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA2027;
    color:white;
    font-weight:700;
    transition: 0.5s;
}
.btn-check-product:hover{
    cursor: pointer;
    background-color: #4BACE5;
    /* color:#EA2027; */
}


.body-content-3{
    width:100%;
    height:800px;
    min-height:700px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column
    
}
.bc-3-content {
    width:100%;
    height:100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.bc-3-content-2 {
    width:100%;
    height:50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.bc-3-content-2 h1 {
    color:#4bace5;
    font-size:40px;
    font-weight:800;
    opacity: 1;
}

.bc-3-box {
    width:30%;
    height:100%;
    /* background-color: blue; */
    /* border:1px solid red; */
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding:5px;
}
.bc-3-box  img{
    width:50%;
    height:50%;
}

.bc-profile-box {
    width:30%;
    height:100%;
    /* background-color: blue; */
    /* border:1px solid red; */
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding:5px;
}
.bc-profile-box  img{
    width:100%;
    height:90%;
    border-radius:5px;
}

.wa-box {
    width:100%;
    height:30%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon-wa {
    font-size:30px;
    color:white;
    margin-right:5px;
    position: relative;
    top:5px;
    
}
.icon-wa-2 {
    font-size:25px;
    color:white;
    margin-right:5px;
    position: relative;
    top:5px;
    
}


.wa-pp {
    width:80%;
    height:30%;
    /* background-color: blue; */
}



.box_for_socmed-5{
    width:20%;
    height:40px;
    border-radius: 5px;
    /* border:1px solid gray; */
    margin-bottom:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4BACE5;
    color:white;
    margin:5px;
}
.img-logo{
    width:40px;
    height:40px;
    /* background-color: red; */
}
.box_for_socmed-5 a {
    display: flex;
    flex-direction: row;
}
.box_for_socmed-5:hover{
    transition: 1s;
    /* width:25%; */
    /* height:50px; */
    border-radius:10px;
    cursor: pointer;
    background: #4bace5; 

 
}
#soc_youtube-2 {
    font-size:14px;
    margin:0px;
    color:white;
    position: relative;
    top:10px;
    
}




.box_for_socmed-4{
    width:40%;
    height:50px;
    border-radius: 5px;
    /* border:1px solid gray; */
    margin-bottom:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4BACE5;
    color:white;
}
.img-logo{
    width:40px;
    height:40px;
    /* background-color: red; */
}
.box_for_socmed-4 a {
    display: flex;
    flex-direction: row;
}
.box_for_socmed-4:hover{
    transition: 1s;
    width:50%;
    height:50px;
    border-radius:10px;
    cursor: pointer;
    background: #4bace5; 

 
}
.box_for_socmed-4:hover #soc_youtube {
    transition: 1s;
    display: flex;
    /* color:#ea2027; */

}
.box_for_socmed-4:hover .a-href-link-wa {
    justify-content: space-evenly;
}

#soc_youtube {
    font-size:20px;
    margin:0px;
    color:white;
    position: relative;
    top:5px;
    
}

.a-href-link-wa{
    padding-left:10px;
    padding-right:10px;
    width:100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hover-ig {
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.hover-fb {
    background-color: #3b5998;
}
.hover-twitter {
    background-color: #00ACEE;
}
.hover-wa {
    background-color:  #25d366;
}

.hover-email {
    background-color: crimson;
}

.body-content-4 {
    width:100%;
    height:800px;
    min-height:600px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    

}

.bc-4-content {
    /* background-color: red; */
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    background-image: url('../../Assets/interior-terios.jpeg');
    /* background: rgba(120, 120, 120, 0.836); */
    
}
.bc-4-content-2 {
    height:30%;
    width:100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(120, 120, 120, 0.836);
    /* opacity: 0.5; */
    /* background-color: black; */
}
#nama-diba{
    width:30%;
    color:#00ACEE;
    font-weight:800;
    text-align:center;
}
#siap-bantu{
    width:50%;
    text-align: center;
}


.bc-4-testimonial {
    height:70%;
    width:100%;
    
    
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    background: rgba(120, 120, 120, 0.836);
    overflow:scroll;
    overflow-y:hidden;
    flex-direction: row;
}

.bc-4-testimonial::-webkit-scrollbar {
    display: inherit;
    height:10px;
    width: 5px;
}
.bc-4-testimonial::-webkit-scrollbar-thumb {
    background-color: #4bace5;
    /* border-radius: 5px; */
}





.carousel-container {
    /* border-radius: 30px; */
    overflow: hidden;
    /* max-height:400px; */
    /* max-width: 550px; */
    width:100%;
    position: relative;
    box-shadow: 0 0 30px -20px #223344;
    margin: auto;
    z-index: 0;
   

  }
 
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    justify-content: center;
    align-items: center;
    height:100vh;
    /* height:700px; */
    display: flex;
    background: url('../../Assets/background-mobil.jpeg') no-repeat top center; 
    top:-500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .mySlides img {
    display: block;
    width: 500px;
    height:400px;
  }
  
  /* image gradient overlay [optional] */
  /* .mySlides::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
      background-image: linear-gradient(-45deg, rgba(110, 0, 255, .1), rgba(70, 0, 255, .2));
  } */
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: red;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    background-color: rgba(173, 216, 230, 0.3);
    transition:0.5s;
    
    
    user-select: none;
  }
  .next {
    right: 0%;
    border-radius: 8px 0 0 8px;
  }
  .prev:hover,
  .next:hover {
    background-color: #2f3640;
  }
  
  /* Caption text */
 
  

  .dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  
  /* The dots/bullets/indicators */
  .dots {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 4px;
    background-color: rgba(173, 216, 230, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  .active,
  .dots:hover {
    background-color: rgba(173, 216, 230, 0.8);
  }
















/* batas new */

.box-home{
    width:100%;
    height:100vh;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.box-header{
    width:100%;
    height:10%;
    min-height:10%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 15px 10px -15px #111; 
    align-items: center;
    z-index:100;
    background-color: rgb(131, 59, 59);
}

.bh-left{
    width:30%;
    height:100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left:10px;
}
.bh-left img{
    width:35%;
    height:70%
}

.bh-right{
    width:70%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.box-body{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    flex-direction: column;;
}




.dd-product {
    padding:5px;
    width:100%;
    height:330px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.dd-product-item{
    width:20%;
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:15px;
    transition: 0.5s;
    text-decoration: none;
}
.dd-product-item p:nth-child(2){
    font-size:12px;
    margin:0px !important;
    position: relative;
    top:10px;
    font-weight:800;
    color:black;
}
.dd-product-item p:nth-child(3){
    font-size:12px;
    /* background-color: red; */
    position: relative;
    top:10px;
    
    color:black;
}
.dd-product-item:hover {
    cursor: pointer;
    background-color: #4BACE5;

}
.dd-product-item:hover p{
    cursor: pointer;
    color:white;

}

.dd-product-item img {
    width:80%;
    height:80%;
    position: relative;
    top:5px;
}

.btn-success {
    background-color: white !important;
    border:none !important;
    color:black !important;
}

.dropdown-menu {
    width:700px !important;
    height:330px !important;
    z-index:10 !important;
    overflow: scroll;;
}


.box-advertise {
    width:100%;
    height:100vh;
    z-index:2 !important;
    background-color: red;
}
.slick-list {
    position: relative;
    height:100%;
}

.ba-1 {
    width:95%;
    height:95%;

}
.ba-1 img {
    width:100%;
    height:100%;

}

.box-content {
    width:100%;
    height:1000px !important;
    min-height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid red;
}

.box-testi-card{
    width:300px;
    min-width: 300px;
    height:400px;
    border-radius:10px;
    border:1px solid #dedede;
    margin:10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top:10px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}

.btc-img {
    width:200px;
    height:200px;
    border-radius:50%;
    border:1px solid #dedede;
    margin-bottom:10px;
}
.btc-img img {
    width:100%;
    height:100%;
    border-radius:50%;
}
.btc-nama {
    width:100%;
    height:50px;
    /* border-bottom:1px solid #dedede; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    margin-bottom:10px;
    font-weight:800;
}
.btc-comment{
    height:100px;
    width:100%;
    /* border:1px solid #dedede; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btc-comment p:nth-child(1){
    font-size:14px;
    font-weight:600;
}
.btc-comment p:nth-child(2){
    font-size:12px;
    font-weight:400;
    color:white;
    /* width:100%; */
}

.body-content-5{
    width:100%;
    height:500px;
    min-height:500px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column
    
}
.bc-5-content {
    width:100%;
    height:100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border:1px solid #dedede; */
}
.bc-5-alamat{
    width:100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:800;
    color:black;
    font-size:30px;
    letter-spacing: 0.5rem;
    /* background-color: white;; */
    
}
.bc-5-alamat-2{
    width:100%;
    height:100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-weight:800;
    color:black;
    /* background-color: red; */
    flex-direction: row;
    
}
.bc-5-contact {
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bc-5-left{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: white; */
    /* border:1px solid #dedede; */
    padding:10px;
}
.bc-5-left p:nth-child(1){
    width:100%;
    text-align: center;
    font-size:20px;
    
}
.bc-5-left p:nth-child(2){
    width:100%;
    text-align: left;
}
.box-maps{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-content-6{
    width:100%;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bh-right-mobile {
    display: none;
}

.body-content-6{
    width:100%;
    background-color: white;
    /* height:300px; */
    min-height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bc-container{
    width:100%;
    height:100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    
    /* align-items: center; */
    padding:20px;
    flex-direction: column;
}


/* HOME MOBILE */

.new-header-mobile{
    width:100%;
    height:50px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right:10px;
}

